.skills {
    padding-top: 120px;

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-title {
            position: relative;
            @include before_circle;

            &:before {
                left: 3px;
            }

            padding: 6px 0 0 0;
        }
    }

    &__tech {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        column-gap: 13px;
        row-gap: 13px;
        align-content: center;
        justify-content: center;

        &-item {
            border: 1px solid #000;
            padding: 30px;
        }

        &-logo {
            height: 85px;
        }

        &-descr {
            padding-top: 15px;
        }
    }

    &__soft {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-auto-rows: minmax(70px, auto);
        column-gap: 45px;
        row-gap: 30px;
        justify-content: space-between;
        align-content: space-between;

        &-column {
            max-width: 100%;
        }

        &-item {
            margin-top: 30px;
            display: grid;
            //width: 100%;
            height: 70px;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: 55px 15px;
            align-content: space-between;
            justify-content: space-between;
        }

        &-itemtitle {
            position: relative;
            @include before_circle;

            &:before {
                left: -10px;
                top: -7px;
            }

        }

        &-scale {
            width: 100%;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            grid-column: 1 / 3;

            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
    }
}