.btn {
    border-radius: 1em;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 26px;
    height: 45px;
    transition: .5s all;

    &:active {
        color: black;
    }



    &_transp {
        background: rgba(0, 0, 0, 0);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);

        &:active {
            color: $main-color;
        }
    }
}